/* App.css */

body.light {
    background-color: #f0f0f0;
    /* Light background color */
    color: #000;
    /* Light text color */
}

body.dark {
    background-color: #1a1a1a;
    /* Dark background color */
    color: #fff;
    /* Dark text color */
}
